# For detailed keys values check keycodes.h
# github.com/liballeg/allegro5/blob/master/include/allegro5/keycodes.h
# Keyboard section:
## A button
26
## B button
24
## Start
19
## Select
1
## Up
84
## Down
85
## Left
82 
## Right
83
# Gamepad section:
# A button
0
# B button
1
# Start
7
# Select
6
# Dpad
3
# H axis
0
# V axis
1
